body, html{
    height:100%;
    margin: 0;
}

.pricing-calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

select{
    height: 30pt;
    width: 80%;
    border-radius: 15px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

.getprice{
    width: 80%;
    height: 50pt;
    border-style: solid;
    border-radius: 15px;
    font-size: 20pt;
    background-color: lime;
    border-width: 3px;
}

.getprice:hover{
    background-color: rgb(55, 255, 55);
}
.getprice:active{
    background-color: rgb(138, 255, 138);
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}