

.pricing-calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

select{
    height: 30pt;
    width: 80%;
    border-radius: 15px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}




.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}